/* Body & General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family:Arial, Helvetica, sans-serif;
  letter-spacing: 0.2vw;
  scroll-behavior: smooth;
}

body {
  color: #FFFFFF;
  background-color: #1C1C1C;
  font-size: 3vw;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex; 
}

/* Navigation */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 18%; 
  height: 100vh;
  background-color: #1C1C1C;
  font-weight: bold;
  position: fixed;
  box-shadow: 0px 0 20px rgba(255, 255, 255, 0.4); 
  transition: width 0.3s ease-in-out;
}

nav #Base{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%; 
  height: 96vh; 
  overflow: hidden;
  padding: 1vw;
}

nav #closeNav a {
  font-size: 65%;
  position: absolute;
  left: 94%;
  top: 3%;
}

nav #Logo a{
  font-size: 55%;
  color: #FFFFFF;
  text-decoration: none; 
}

nav #Logo  h1 #red {
  color: #FF0000;
}

nav #NavOptions a{
  display: block; 
  text-align: left;
  font-size: 35%; 
  color: #FFFFFF; 
  background-color: #3c3c3c; 
  padding: 4%;
  margin: 5% 0; 
  border-radius: 10px;
  text-decoration: none; 
  transition: background-color 0.3s ease;
}

nav #NavOptions a:hover {
  background-color: #3c3c3c;
  color: #FFFFFF; 
}

nav #NavOptions i{
  font-size: 150%;
  color: #000000; 
  padding-right: 5%;
  padding-left: 8%;
}

nav #NavOptions input{
  background-color: #1C1C1C;
  color: #FFFFFF; 
  font-weight: bold;
  font-size: 90%;
  width: 70%;
  height: 90%;
  border-radius: 5px;
}

nav #Blank{
  padding-bottom: 2vh;
}

nav img {
  object-fit: contain;
  height: 40%;
  width: auto;
  overflow: hidden;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.ClosedNav {
  width: 5.5%; 
  transition: width 0.3s ease-in-out; 
}

nav .ClosedNav .Open{
  display: none; 
}

nav .Closed{
  display: none;
}

nav .ClosedNav .Closed{
  display: contents;
}


/* Main */
main {
  flex: 1; 
  margin-bottom: 2vh;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 20%;
  transition: width 1s ease-in-out;
}

.ClosedContent{
  padding-left: 8%;
  transition: width 1s ease-in-out;
}

.line hr {
  border-top: 10% solid #ffffff;
}

header{
  font-size: 45%;
}

/* Content */

.mobile
{
  display: none;
}

main #Content
{
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100vh;
}

main #Block
{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  height: auto;
}

main img
{
  object-fit: contain;
  width: 35%;
  height: auto;
  overflow: hidden;
  padding-right: 2vw;
}

main #Text
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 30%;
  padding-right: 10%;
  text-align: justify;
}

main #Text h3
{
  padding-bottom: 2%;
}

main #Text h2
{
  padding-bottom: 2%;
}

main #Time
{
  color:#FF0000;
}


/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; 
  height: 3vw; 
  background-color: #1C1C1C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}

footer p{
  font-size: 50%;
}

footer #Social {
  width: 15%;
  display: flex;
  justify-content: end;
}

footer a{
  margin-right: 10%;
  color: #FFFFFF;
  font-size: 75%;
}
  /* Carrusel general */
  .carousel-container {
    margin: 30px auto;
    text-align: center;
    width: 90%;
    
  }
  
  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
  
  }
  
  .carousel-items {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: fit-content;
  }
  
  .carousel .item {
    flex: 0 0 300px; /* Ancho de cada video */
    margin: 0 10px;
  }
  
  .carousel .item video {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Botones del carrusel */
  .carousel button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 30px;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    
  }
  .next.ClosedNav {
    display: none; /* Oculta completamente los botones */
    visibility: hidden; /* Los hace no interactuables */
}

  
  .carousel button.prev {
    left: 10px;
  }
  
  .carousel button.next {
    right: 10px;
  }
  
  .carousel button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }


/* Responsive */

@media only screen and (max-width: 480px) {
  
  body {
    flex-direction: column;
  }

  /* Navigation */
  nav {
    width: 70%; 
    height: 100vh;
    right: 0;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  nav #Base{
    width: 90%; 
    
  }

  nav #closeNav a {
    font-size: 6vw;
    position: absolute;
    left: 85%;
    top: 1%;
  }

  nav #Logo a{
    font-size: 0%;
    color: #FFFFFF;
    text-decoration: none; 
  }

  nav #NavOptions a{
    font-size: 100%; 
  }

  nav #NavOptions i{
    padding-right: 15%;
    padding-left: 3%;
  }

  .ClosedNav{
    background-color: transparent;
    box-shadow: 0px 0 20px rgba(255, 255, 255, 0); 
  }

  .ClosedNav #NavOptions{
    display: none;
    transition: width 0.3s ease-in-out; 
  }

  .ClosedNav {
    width: 70%; 
  }

  .ClosedNav #CloseNav{
    display: contents;
  }

  .mobile
  {
    display: flex;
    background-color: #1C1C1C;
    height: 6vh;
    margin-top: -4vh;
    margin-left: -8vw;
    margin-right: -8vw;
    margin-bottom: 2vh;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4); 
    top: 0;
  }

  .mobile #Logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vw;
  }

  .mobile #Logo a{
    font-size: 150%;
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .mobile #Logo  h1 #red {
    color: #FF0000;
  }

  header{
    font-size: 75%;
  }

  main {
    padding: 8%;
  }

  main #Block
  {
    flex-direction: column;
  }
  
  main img
  {
    width: 40%;
    padding-right: 0;
    padding-bottom: 1vh;
  }
  
  main #Text
  {
    justify-content: center;
    font-size: 100%;
    text-align: justify;
  }

  main #Text h2
  {
    text-align: center;
  }

  footer {
    position: relative;
    height: 5vh;
    margin-top: -5vh;
  }

  footer p{
    font-size: 80%;
  }
  
  footer #Social {
    width: 25%;
  }
  
  footer a{
    font-size: 125%;
  }





  }


  /* End Media Queries - Responsive Design*/