/* Body & General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: LostSignal, sans-serif, Times, serif;
  letter-spacing: 0.2vw;
  scroll-behavior: smooth;
}

body {
  color: white;
  background-color: black;
  font-size: 3vw;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex; 
}

/* Navigation */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%; 
  height: 100vh;
}

nav  #Shadow{
  width: 5%; 
  background-color: #222;
  box-shadow: 0px 0 40px rgba(255, 255, 255, 0.4);
}

nav  #Base{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 95%; 
  background-color: #222;
  padding: 2vw; 
}

nav #Logo a{
  font-size: 80%;
  color: white;
  text-decoration: none; 
}

nav #Logo  h1 #red {
  color: red;
}

nav #NavOptions a{
  display: block; 
  text-align: left;
  font-size: 70%; 
  color: white; 
  background-color: #3a3a3a; 
  padding: 0.8rem;
  margin: 0.5rem 0; 
  border-radius: 10px;
  text-decoration: none; 
  transition: background-color 0.3s ease;
}

nav #NavOptions a:hover {
  background-color: #555;
  color: #ddd; 
}

nav #Blank{
  padding-bottom: 2.5vh;
}

nav img {
  object-fit: contain;
  width: 100%; 
  padding-top: 1vh;
  padding-bottom: 1vh;
}


/* Main */
main {
  flex: 1; 
  margin-bottom: 2vh;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  background-color: #222;
  width: 75%;
  text-align: left;
}

.line hr {
  border-top: 3px solid #ffffff;
}

/* Content */
main #Content
{
  display: flex;
  flex-direction: column;
  align-items: left;
}

main #Block
{
  display: flex;
  flex-direction: row;
  align-items: left;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

main #Image
{
  width: 100%;
  height: auto;
  padding-right: 2vw;
}

main #Image img
{
  width: 100%;
  height: 100%;

}

main #Text
{
  font-size: 1.5vw;
}

main #Text h3
{
  padding-bottom: 1vh;
}

main #Text h2
{
  padding-bottom: 0.8vh;
}

main #Time
{
  color:red;
}


/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; 
  height: 4%; 
  background-color: #141414;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}

footer p{
  font-size: 50%;
}

footer #Social {
  width: 20%;
  display: flex;
  justify-content: end;
}

footer a{
  margin-right: 10%;
  color: white;
  font-size: 75%;
}
